<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/header.css">
    <script src="https://kit.fontawesome.com/6e4ed31c51.js" crossorigin="anonymous"></script>
    <title>Header</title>
</head>
<body class="body-header">
    <header class="header">
      <div class="menu">
        <i class="fas fa-bars menu"></i>
        <p>Menu</p>
      </div>
      <div class="logo">
        <img src="/public/img/home/logoHome.png" class="img-logo" alt="" srcset="">
      </div>
      <div class="section-right">
        <i class="fa-solid fa-magnifying-glass header-icon" style="color: #ffffff;"></i>
        <i class="fa-regular fa-circle-user header-icon" style="color: #ffffff;"></i>
        <i class="fa-solid fa-cart-shopping header-icon" style="color: #ffffff;"></i>
      </div>   
      <nav>
        <ul>
            <li>New</li>
            <li>Pantalones</li>
            <li>Camisas</li>
            <li>Remeras</li>
            <li>Accesorios</li>
        </ul>
      </nav>
    </header>
</body>
</html>