<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="detalles_del_producto">

	<%- include('../partials/header',{ title:'View'}) %>

    <main class="container__products__views">
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/new1.jpg" alt="buzo sonrisa">
            </div>
            <article class="info__product">
                <h2>Buzo Smile</h2>
                <p class="precio">$25.999</p>
                <p class="descuentos">20% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/new2.jpg" alt="buzo vintage" >
            </div>
            <article class="info__product">
                <h2>Buzo Vintage</h2>
                <p class="precio">$23.000</p>
                <p class="descuentos">20% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/PANTALONHOMBRE1.webp" alt="Imagen del pantalon cargo de hombre 1"> 
            </div>
            <article class="info__product">
                <h2>Jogging Flypy</h2>
                <p class="precio">$20.000</p>
                <p class="descuentos">10% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/PANTALONHOMBRE2.2.webp" alt="Imagen de pantalon jeans cargo">
            </div>
            <article class="info__product">
                <h2>Pantalon Stroffy</h2>
                <p class="precio">$17.800</p>
                <p class="descuentos">15% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/PANTALONcargo-m1.webp" alt=" imagen del pantalon cargo1" >
            </div>
            <article class="info__product">
                <h2>Jogging  Canys</h2>
                <p class="precio">$19.999</p>
                <p class="descuentos">15% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/PANATLONCARGOJEANS2.webp" alt="pantalon de dama jeans">
            </div>
            <article class="info__product">
                <h2>Pantalon Flow</h2>
                <p class="precio">$22.999</p>
                <p class="descuentos">5% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/camisas1.png" alt="Imagen de camisa mujer">
            </div>
            <article class="info__product">
                <h2>Camisa Summer</h2>
                <p class="precio">$11.800</p>
                <p class="descuentos">20% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/camisarayada.jpg" alt=" Camisa de hombre con rayas">
            </div>
            <article class="info__product">
                <h2>Camisa Nite</h2>
                <p class="precio">$16.500</p>
                <p class="descuentos">10% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/camisa2.jpg" alt=" imagen de camisa de cuadros">
            </div>
            <article class="info__product">
                <h2>Camisa Painting</h2>
                <p class="precio">$20.350</p>
                <p class="descuentos">5% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/remeron-blanco-bomba_mesa-de-trabajo1.1.webp" alt=" imagen de remera">
            </div>
            <article class="info__product">
                <h2>REMERA LIGHT</h2>
                <p class="precio">$13.500</p>
                <p class="descuentos">5% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/remeron-blanco-science-hombre_mesa-de-trabajo-3.3.webp" alt="imagen de remera">
            </div>
            <article class="info__product">
                <h2>REMERA CLASS</h2>
                <p class="precio">$12.000</p>
                <p class="descuentos">5% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/remeron-negro-playbomb_mesa-de-trabajo-2.1.webp" alt="imagen de remera">
            </div>
            <article class="info__product">
                <h2>REMERA BOMB</h2>
                <p class="precio">$9.999</p>
                <p class="descuentos">20% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/accesorio.cadenas.mujer.jpg" alt=" imagen de cadenitas para pantalones">
            </div>
            <article class="info__product">
                <h2>Cadenita Love</h2>
                <p class="precio">$10.00</p>
            <p class="descuentos">5% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/accesorio2.cinto.jpg" alt=" imagen de cinto">
            </div>
            <article class="info__product">
                <h2>Cinto De Cuero </h2>
                <p class="precio">$15.500</p>
                <p class="descuentos">40% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
        <article class="container_products_articulos">
            <div class="imagenes_de_los_productos">
                <img src="/img/product-img/ACCESORIOPARTE1.webp" alt=" imagen de">
            </div>
            <article class="info__product">
                <h2>Arnes de Metal</h2>
                <p class="precio">$6.500</p>
                <p class="descuentos">10% off</p>
                <button>Ver Mas</button>
            </article>
        </article>
    </main>
    
    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>
    
</body>
</html>
