<!DOCTYPE html>
<html lang="en">
   <!-- //HEAD PARTIALS-->
   <%- include('../partials/head') %>
<body class="detalles_del_producto">

	<%- include('../partials/header',{ title:'detalle'}) %>

	<main class="main__detalles_del_producto">

      <div class="container-title">Inicio / Remeras / <b>remera oversized butterfly</b></div>

		
			<div class="detalle">
			<div class="imagenes__productos">
				<img class="img__remera1" src="/img/Guys Butterfly & Slogan Graphic Tee.jpeg" alt="imagen de la remera morada">
				<img class="img__remera2" src="/img/Men Cotton Butterfly & Slogan Graphic Tee.jpeg" alt="imagen de la remera  ">
				<img class="img__remera3" src="/img/Butterfly And Slogan Graphic Drop Shoulder Oversized Tee.jpeg" alt="imagen de las remera fucsia">
			</div>
			<div class="container-img">

				<div class="detalles_main_contendedor_imagenes" id="contenedor-1">
	
					<div class="contenedor_detalles_carrusel" id="foto1">
						<img src="/img/Guys Butterfly & Slogan Graphic Tee.jpeg" alt="Imagen 1">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-3">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-2">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
	
				</div>
	
				<div class="detalles_main_contendedor_imagenes" id="contenedor-2">
	
					<div class="contenedor_detalles_carrusel" id="foto2">
						<img src="/img/Men Cotton Butterfly & Slogan Graphic Tee.jpeg" alt="Imagen 2">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-1">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-3">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
	
				</div>
				<div class="detalles_main_contendedor_imagenes" id="contenedor-3">
	
					<div class="contenedor_detalles_carrusel" id="foto3">
						<img src="/img/Butterfly And Slogan Graphic Drop Shoulder Oversized Tee.jpeg" alt="Imagen 3">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-2">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-1">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
					
	
				</div>
			
			   
				
			</div>
	
			<div class="detalle_2">
         <article class="articulo__precio_detalle">
			<h4>Remera oversized Butterfly</h4>
			<p><b>$ 13.800,00</b></p>
		 </article>
		 <hr/>
            <div class="container-info-cuotas">
				<i class="fa-regular fa-credit-card"></i>
				<p><b>3</b> CUOTAS SIN INTERESES DE<b> $4.600,00</b></p>
			</div>
			<div class="medios_De_pago">
                <p>VER MEDIOS DE PAGO</p>
			</div>
			<hr/>
			<article class="articulo__disponible">

			<p>Color:</p>
			<div class="div_colores">		
				<div class="caja_color1">1</div>
				<div class="caja_color2">2</div>
				<div class="caja_color3">3</div>
			</div>
              
			<p>Talle:</p>
			<div class="div_talle">
				<div class="caja_talle1"> S </div>
				<div class="caja_talle2"> M </div>
				<div class="caja_talle3"> X </div>
				<div class="caja_talle4"> XL </div>				
			</div>

			<div class="guia__talles">
				<i class="fa-solid fa-ruler-horizontal"></i>
				<P>GUIA DE TALLES</P>
			</div>
            </article>
			<hr/>
                
			 <div class="container__cantidad">
						<P class="cantidad">CANTIDAD:3 EN STOCK</P>
						<input
							type="number"
							placeholder="1"
							value="1"
							min="1"
							class="input-quantity">
		     </div>
			
			 <hr/>
					<button class="btn-add-to-cart">
						<i class="fa-solid fa-plus"></i>
						AGREGAR AL CARRITO
					</button>
             </div>
			</div>
                
					<div class="clacular_envios">
						<h4>CALCULAR EL COSTO DEL ENVIO</h4>
						<input type="text" placeholder="calcular envio">   							
					</div>
					<hr/>
					
					<ul class="descripcion_lista__detalles">
						<li>OVERSIZE</li>
						<li>ESTAMPADO ESPALDA</li>
						<li>FRENTE LISO</li>
						<li>TELA ALGODON</li>
						<li>APTO PARA LAVARROPAS CON AGUA FRIA SIN CENTRIFUGAR</li>
					</ul>
					<h4>ESTE PRODUCTO TIENE UNICAMENTE CAMBIO POR TALLE</h4>
					<hr/>
                    
					<div class="compartit_detalles_del_producto">
				    <h4 class="compartir"> COMPARTIR:</h4>
					<i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-tiktok"></i>
				    </div>

					<div class="contenedor_informacion_detalle">
            
            
						<div class="detalle__informacion" id="info_contenedor_1">
			
							<div class="detalle2__informacion" id="envio">
							   
								<i class="fa-solid fa-truck"></i>
								<h3>ENVIOS A TODO EL PAIS</h3>
								<h5>Sin cargo a partin de $8000</h5>
							</div>
			
						</div>
						 
						<div class="detalle__informacion" id="info_contenedor_2">
			
							<div class="detalle2__informacion" id="pagos">
							   
								<i class="fa-regular fa-credit-card"></i> 
								<h3>PAGA COMO QUIERAS</h3>
								<h5>Aceptamos todos los medios de pago</h5>
							</div>
			
							
			
						</div>
						<br>
						 
						<div class="detalle__informacion" id="info_contenedor_3">
			
							<div class="detalle2__informacion" id="cambio ">
							   
								<i class="fa-solid fa-arrows-rotate"></i>
								<h3>CAMBIOS Y DEVOLUCIONES</h3>
								
							</div>
						</div>				
					</div>	
					
					<div class="carrusel-punto-info-detalle">
						<a href="#info_contenedor_1">•</a>
						<a href="#info_contenedor_2">•</a>
						<a href="#info_contenedor_3">•</a>
					</div>
		</main>
				

<!-- //FOOTER PARTIALS-->
<%- include('../partials/footer') %>
</body>
</html>

