<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body class="body__login">
    <header class="header">
        <div class="menu">
          <i class="fas fa-bars menu"></i>
          <p>Menu</p>
        </div>
        <div class="logo">
          <img src="/img/home/logoHome.png" class="img-logo" alt="" srcset="">
        </div>
        <div class="section-right">
          <i class="fa-solid fa-magnifying-glass header-icon" style="color: #ffffff;"></i>
          <i class="fa-regular fa-circle-user header-icon" style="color: #ffffff;"></i>
          <i class="fa-solid fa-cart-shopping header-icon" style="color: #ffffff;"></i>
        </div>  
      </header>
        <nav>
          <ul>
              <li>New</li>
              <li>Pantalones</li>
              <li>Camisas</li>
              <li>Remeras</li>
              <li>Accesorios</li>
          </ul>
        </nav>
  
    <main class="box__main">
        <h4>inicio / mi cuenta / <strong>Login</strong></h4>
        <div class="box__card">
            <article class="article--login">
                <h5>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h5>
                <img src="/img/login/logo_login.png" alt="" width="200">
            </article>
            <form action="/profile" class="form">
                <div class="form__box">
                    <div class="form__box--fill">
                        <label class="form__label" for="email">EMAIL</label>
                        <div class="form__box--position">
                            <input class="form__input" type="email" id="email" name="email"
                                placeholder="Ej: NoahBenjamin@gmail.com"><span><i
                                    class="fa-regular fa-envelope"></i></span>
                        </div>
                    </div>
                    <div class="form__box--password">
                        <label class="form__label" for="password">CONTRASEÑA</label>
                        <div class="form__box--position">
                            <input class="form__input" id="password" type="password" placeholder="tu contraseña"
                                name="password"><span><i class="fa-regular fa-eye-slash"></i></span>
                        </div>
                    </div>
                    <div class="form__box--remember">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Remember me</label>
                        <a href="/">forgot password?</a>
                    </div>
                </div>
                <div class="form__redes">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a>
                </div>
                <div class="form__buttom">
                    <button class="buttom__login" type="submit">login</button>
                    <p>¿No tenes cuenta?<a href="/register">Crear cuenta</a></p>
                </div>
            </form>
            <hr>
        </div>
        <h3 class="main__h3--end">Compartir</h3>
        <article class="box__article">
            <div class="item">
                <p class="item"><i class="fa-solid fa-truck-fast"></i></p>
                <h3>envios a todo el pais</h3>
                <h4>sin cargo a partir de $80000</h4>
            </div>
            <div class="item">
                <p><i class="fa-regular fa-credit-card"></i></p>
                <h3>paga como quieras</h3>
                <h4>aceptamos todos los tipos de pago</h4>
            </div>
            <div class="item">
                <p><i class="fa-solid fa-arrows-rotate"></i></p>
                <h3>cambios y devoluciones</h3>
            </div>
        </article>
        <footer class="footer">
            <div class="container__footer">
             <div class="footer_movil">
                <div class="footer__links">
                    <h4> NAVEGACION </h4><br>
                   <ul>
                      <li><a href="#">New</a></li>
                      <li><a href="#">Pantalones</a></li>
                      <li><a href="#">Camisas</a></li>
                      <li><a href="#">Remeras</a></li>
                      <li ><a href="#">Accesorios</a></li>
                    </ul>
              
                    
                </div>
                    <div class="contacto_ubicacion"><br>
                      <h4>CONTACTO</h4><br>
                    <div class="footer__contacto">
                        <i class="fa-solid fa-phone"></i>            
                        <p>+549116416625</p>
                    </div>
                    <nav class="footer_ubicacion">
                       <i class="fa-solid fa-location-dot"></i> 
                        <h5>AV. PRESIDENTE PERON 1552, SAN MIGUEL</h5>
                      </nav>            
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4400226623607!2d-58.71397638902054!3d-34.542412754149865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d82cd413d%3A0x16dc70989eb64065!2sAv.%20Pte.%20J.%20D.%20Per%C3%B3n%201552%2C%20B1663GHR%20San%20Miguel%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1700012414706!5m2!1ses-419!2sar" width="100%" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  
              </div>
        
                         <div class="footer__redes">
                          <h4>REDES SOCIALES</h4><br>
                          <span class="facebook"><a href=""><i class="fa-brands fa-square-facebook"></i></a></span> 
                           <span class="instagram"><a href=""><i class="fa-brands fa-square-instagram"></i></a></span>
                            <span class="twitter"><a href=""><i class="fa-brands fa-twitter"></i></a></span>
                            <span class="tiktok"><a href=""><i class="fa-brands fa-tiktok"></i></a></span> 
                            <br><br><br>
                            <h5 class="Envianos">Envianos tus recomendaciones</h5>
                            <div class="avioncito_recomendaciones">
                         <i class="fa-solid fa-paper-plane"></i>
                           <input type="text" placeholder="email@">
                          </div>               
                            </div> 
                         
                       
             </div>
        </footer>        
    </main>
</body>

</html>