<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/d70e7c2386.js" crossorigin="anonymous"></script>
</head>

<body>

    <main>
        <header>
            <nav class="menu-inicio">
                <ul>
                    <li><strong><a href="#inicio / carrito"> inicio / carrito </a></strong></li>
                 
                </ul>
            </nav>
        </header>

        <h2 class="titulo">Mi Carrito</h2>
        <section>
<div>

            <div class="producto2">
                <div class="producto-imagen-precio_cantidad_comprar_costo">
                <div class="imagen-ropa2">
                    <img class="imagen1" src="./img/camisa.png" alt="camisa">
                
       </div>

            <div class="precio_cantidad_comprar_costo">
        
                <p class="nombre-ropa2">Camisa de Verano. </p>
                <span class="precio-original2">$8550</span>
                <span class="precio-descuento2">$7000</span>
                
                    <button class="cantidad2"><strong>-</strong></button>
                    <span class="numero2">1</span>
                    <button class="cantidad2"><strong>+</strong></button>
              
                <div class="comprar-eliminar2">
                    <button class="eliminar2">ELIMINAR</button>
                    <button class="comprar2">COMPRAR</button>
                </div>
                <p class="costo">envío gratis por todo el país</p>
            </div>
        </div>
    </div>
    </div>
        </section>

        <section>

            <div class="producto2">
<div class ="producto-imagen-precio_cantidad_comprar_costo">
                <div class="imagen-ropa2">
                    <img class="imagen1" src="./img/campera graffiti.png" alt="campera grafitti">
                </div>
                <div class="precio_cantidad_comprar_costo">
                    <p class="nombre-ropa2">Campera Graffiti.</p>

                    <span class="precio-original2">$15000</span>
                    <span class="precio-descuento2"> $16999</span>
    
                 <button class="cantidad2"><strong>-</strong></button>
                    <span class="numero2">1</span>
                    <button class="cantidad2"><strong>+</strong></button>

                    <div class="comprar-eliminar1">
                        <button class="eliminar1">ELIMINAR</button>
                        <button class="comprar1">COMPRAR</button>
                    </div>
                    <p class="costo">costo de envío: $1500 ars</p>
                </div>
            </div>
        </div>
        </section>
    </main>

</body>

</html>