<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/d70e7c2386.js" crossorigin="anonymous"></script>
</head>

<body>

    <main>
        <header>
            <nav class="menu-inicio">
                <ul>
                    <li><a href="#inicio">inicio</a></li>
                    <li><a href="#carrito">carrito</a></li>
                </ul>
            </nav>
        </header>

        <h2 class="titulo">Mi Carrito</h2>

        <section>
            <div class="producto1">
                <h2 class="nombre-ropa1">Pantalón Cargo de Estilo Urbano</h2>
                <div class="imagen-ropa1">
                    <img class="imagen-pantalon" src="./img/pantalon-rosa.jpg" alt="Pantalón verde">
                </div>
                <p class="precio">
                    <span class="precio1">$8550</span>
                    <span class="descuento1">$7000</span>
                </p>
                <div class="cantidad1">
                    <button class="cantidad1">-</button>
                    <span class="numero">1</span>
                    <button class="cantidad1">+</button>
                </div>
                <div class="comprar-eliminar">
                    <button class="comprar-1">COMPRAR</button>
                    <button class="eliminar1">ELIMINAR</button>
                </div>
                <p class="envio-gratis1">envío gratis por todo el país</p>
            </div>
        </section>

        <section>
            <div class="producto2">
                <h2 class="nombre-ropa2">Campera Graffiti</h2>
                <div class="imagen-ropa2">
                    <img class="imagen-campera" src="./img/campera.graffiti.jpg" alt="campera grafitti">
                </div>
                <div class="precio2">
                    <span class="precio-original2">$15000</span>
                    <span class="precio-descuento2"> $16999</span>
                </div>
                <div class="cantidad2">
                    <button class="cantidad2">-</button>
                    <span class="numero">1</span>
                    <button class="cantidad2">+</button>
                </div>
                <div class="comprar-eliminar2">
                    <button class="comprar2">COMPRAR</button>
                    <button class="eliminar2">ELIMINAR</button>
                    <p class="costo-envio">costo de envío: $1500 ars</p>
                </div>
            </div>
        </section>
    </main>

</body>

</html>