<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/d70e7c2386.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav class="menu-inicio">
            <ul>
                <li><strong><a href="#inicio/carrito">Inicio / Carrito</a></strong></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="titulo">Mi Carrito</h2>

        <section>
            <div class="producto2">
                <div class="producto-imagen-precio_cantidad_comprar_costo">
                    <div class="imagen-ropa2">
                        <img class="imagen1" src="./img/home/camisa.png" alt="camisa">
                    </div>

                    <div class="precio_cantidad_comprar_costo">
                        <p class="nombre-ropa2">Camisa de Verano.</p>
                        <span class="precio-original2">$8550</span>
                        <span class="precio-descuento2">$7000</span>

                        <button class="cantidad2"><strong>-</strong></button>
                        <span class="numero2">1</span>
                        <button class="cantidad2"><strong>+</strong></button>

                        <div class="comprar-eliminar2">
                            <button class="eliminar2">ELIMINAR</button>
                            <button class="comprar2">COMPRAR</button>
                        </div>
                        <p class="costo">Envío gratis por todo el país</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="producto2">
                <div class="producto-imagen-precio_cantidad_comprar_costo">
                    <div class="imagen-ropa2">
                        <img class="imagen1" src="./img/home/campera graffiti.png" alt="campera graffiti">
                    </div>
                    <div class="precio_cantidad_comprar_costo">
                        <p class="nombre-ropa2">Campera Graffiti.</p>
                        <span class="precio-original2">$15000</span>
                        <span class="precio-descuento2">$16999</span>

                        <button class="cantidad2"><strong>-</strong></button>
                        <span class="numero2">1</span>
                        <button class="cantidad2"><strong>+</strong></button>

                        <div class="comprar-eliminar2">
                            <button class="eliminar2">ELIMINAR</button>
                            <button class="comprar2">COMPRAR</button>
                        </div>
                        <p class="costo">Costo de envío: $1500 ARS</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>