<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETALLES DEL PRODUCTO</title>
	<script src="https://kit.fontawesome.com/b8080d8402.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/productDetail.css">
</head>
<body class="detalles_del_producto">
	
    <div class="container-title">Inicio / Remeras / <b>remera oversized butterfly</b></div>

		<main class="main__detalles_del_producto">
			<div class="detalle">
			<div class="imagenes__productos">
				<img class="img__remera1" src="public/img/Guys Butterfly & Slogan Graphic Tee.jpeg" alt="imagen de la remera morada">
				<img class="img__remera2" src="public/img/Men Cotton Butterfly & Slogan Graphic Tee.jpeg" alt="imagen de la remera  ">
				<img class="img__remera3" src="public/img/Butterfly And Slogan Graphic Drop Shoulder Oversized Tee.jpeg" alt="imagen de las remera fucsia">
			</div>
			<div class="container-img">

				<div class="detalles_main_contendedor_imagenes" id="contenedor-1">
	
					<div class="contenedor_detalles_carrusel" id="foto1">
						<img src="public/img/Guys Butterfly & Slogan Graphic Tee.jpeg" alt="Imagen 1">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-3">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-2">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
	
				</div>
	
				<div class="detalles_main_contendedor_imagenes" id="contenedor-2">
	
					<div class="contenedor_detalles_carrusel" id="foto2">
						<img src="public/img/Men Cotton Butterfly & Slogan Graphic Tee.jpeg" alt="Imagen 2">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-1">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-3">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
	
				</div>
				<div class="detalles_main_contendedor_imagenes" id="contenedor-3">
	
					<div class="contenedor_detalles_carrusel" id="foto3">
						<img src="public/img/Butterfly And Slogan Graphic Drop Shoulder Oversized Tee.jpeg" alt="Imagen 3">
					</div>
	
					<div class="contenedor_de_flechas">
						<a href="#contenedor-2">
							<i class="fa-solid fa-chevron-left"></i>
						</a>
						<a href="#contenedor-1">
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
					
	
				</div>
			
			   
				
			</div>
	
			<div class="detalle_2">
         <article class="articulo__precio_detalle">
			<h4>Remera oversized Butterfly</h4>
			<p><b>$ 13.800,00</b></p>
		 </article>
		 <hr/>
            <div class="container-info-cuotas">
				<i class="fa-regular fa-credit-card"></i>
				<p><b>3</b> CUOTAS SIN INTERESES DE<b> $4.600,00</b></p>
			</div>
			<div class="medios_De_pago">
                <p>VER MEDIOS DE PAGO</p>
			</div>
			<hr/>
			<article class="articulo__disponible">

			<p>Color:</p>
			<div class="div_colores">		
				<div class="caja_color1">1</div>
				<div class="caja_color2">2</div>
				<div class="caja_color3">3</div>
			</div>
              
			<p>Talle:</p>
			<div class="div_talle">
				<div class="caja_talle1"> S </div>
				<div class="caja_talle2"> M </div>
				<div class="caja_talle3"> X </div>
				<div class="caja_talle4"> XL </div>				
			</div>

			<div class="guia__talles">
				<i class="fa-solid fa-ruler-horizontal"></i>
				<P>GUIA DE TALLES</P>
			</div>
            </article>
			<hr/>
                
			 <div class="container__cantidad">
						<P class="cantidad">CANTIDAD:3 EN STOCK</P>
						<input
							type="number"
							placeholder="1"
							value="1"
							min="1"
							class="input-quantity">
		     </div>
			
			 <hr/>
					<button class="btn-add-to-cart">
						<i class="fa-solid fa-plus"></i>
						AGREGAR AL CARRITO
					</button>
             </div>
			</div>
                
					<div class="clacular_envios">
						<h4>CALCULAR EL COSTO DEL ENVIO</h4>
						<input type="text" placeholder="calcular envio">   							
					</div>
					<hr/>
					
					<ul class="lista__detalles">
						<li>OVERSIZE</li>
						<li>ESTAMPADO ESPALDA</li>
						<li>FRENTE LISO</li>
						<li>TELA ALGODON</li>
						<li>APTO PARA LAVARROPAS CON AGUA FRIA SIN CENTRIFUGAR</li>
					</ul>
					<h4>ESTE PRODUCTO TIENE UNICAMENTE CAMBIO POR TALLE</h4>
					<hr/>
                    
					<div class="compartit_detalles_del_producto">
				    <h4 class="compartir"> COMPARTIR:</h4>
					<i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-tiktok"></i>
				    </div>

					<div class="contenedor_informacion_detalle">
            
            
						<div class="detalle__informacion" id="info_contenedor_1">
			
							<div class="detalle2__informacion" id="envio">
							   
								<i class="fa-solid fa-truck"></i>
								<h3>ENVIOS A TODO EL PAIS</h3>
								<h5>Sin cargo a partin de $8000</h5>
							</div>
			
						</div>
						 
						<div class="detalle__informacion" id="info_contenedor_2">
			
							<div class="detalle2__informacion" id="pagos">
							   
								<i class="fa-regular fa-credit-card"></i> 
								<h3>PAGA COMO QUIERAS</h3>
								<h5>Aceptamos todos los medios de pago</h5>
							</div>
			
							
			
						</div>
						<br>
						 
						<div class="detalle__informacion" id="info_contenedor_3">
			
							<div class="detalle2__informacion" id="cambio ">
							   
								<i class="fa-solid fa-arrows-rotate"></i>
								<h3>CAMBIOS Y DEVOLUCIONES</h3>
								
							</div>
						</div>				
					</div>	
					
					<div class="carrusel-punto-info-detalle">
						<a href="#info_contenedor_1">•</a>
						<a href="#info_contenedor_2">•</a>
						<a href="#info_contenedor_3">•</a>
					</div>
		</main>
				
</body>
<footer class="footer">
    <div class="container__footer">
     <div class="footer_movil">
        <div class="footer__links">

            <h4> NAVEGACION </h4><br>
           <ul class="listas__del__footer_navegacion">
              <li><a href="#">New</a></li>
              <li><a href="#">Pantalones</a></li>
              <li><a href="#">Camisas</a></li>
              <li><a href="#">Remeras</a></li>
              <li ><a href="#">Accesorios</a></li>
            </ul>
      
            
        </div>
            <div class="contacto_ubicacion"><br>
              <h4>CONTACTO</h4><br>
            <div class="footer__contacto">
                <i class="fa-solid fa-phone"></i>            
                <p>+549116416625</p>
            </div>
            <nav class="footer_ubicacion">
               <i class="fa-solid fa-location-dot"></i> 
                <h5>AV. PRESIDENTE PERON 1552, SAN MIGUEL</h5>
              </nav>            
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4400226623607!2d-58.71397638902054!3d-34.542412754149865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d82cd413d%3A0x16dc70989eb64065!2sAv.%20Pte.%20J.%20D.%20Per%C3%B3n%201552%2C%20B1663GHR%20San%20Miguel%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1700012414706!5m2!1ses-419!2sar" width="100%" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          
      </div>

                 <div class="footer__redes">
                  <h4>REDES SOCIALES</h4><br>
                  <span class="facebook"><a href=""><i class="fa-brands fa-square-facebook"></i></a></span> 
                   <span class="instagram"><a href=""><i class="fa-brands fa-square-instagram"></i></a></span>
                    <span class="twitter"><a href=""><i class="fa-brands fa-twitter"></i></a></span>
                    <span class="tiktok"><a href=""><i class="fa-brands fa-tiktok"></i></a></span> 
                    <br><br><br>
                    <h5 class="Envianos">Envianos tus recomendaciones</h5>
                    <div class="avioncito_recomendaciones">
                 <i class="fa-solid fa-paper-plane"></i>
                   <input type="text" placeholder="email@">
                  </div>               
                    </div> 
                 
               
     </div>
</footer>
</html>

