<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/6e4ed31c51.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>

<body>
    <p class="register-parrafo">Inicio/ Mi cuenta / <b>Crear cuenta</b></p>

    <p class="register-parrafo" >Comprá mas rápido y llevá el control de tus pedidos,¡en un solo lugar!</p>
    <form class="register-formulario" action="#" method="post">
        <label class="register-formulario-label" for="nombre">Nombre:</label>
        <input class="register-formulario-label-input" type="text" id="nombre" name="nombre" required>

        <label class="register-formulario-label" for="email">Email:</label>
        <input class="register-formulario-label-input" type="text" id="email" name="email" required>

        <label class="register-formulario-label" for="telefono">Telefono(Opcional):</label>
        <input class="register-formulario-label-input" type="text" id="telefono" name="telefono" required>

        <label class="register-formulario-label" for="contrasena">Contraseña:</label>
        <div class="contrasena-eyes">
            <input class="register-formulario-label-input" type="password" id="contrasena" name="contrasena" required>
            <i class="fa-regular fa-eye-slash"></i>
        </div>
        <label class="register-formulario-label" for="confirmarContrasena">Confirmar Contraseña:</label>
        <div class="contrasena-eyes">
            <input class="register-formulario-label-input" type="password" id="confirmarContrasena" name="confirmarContrasena" required>
            <i class="fa-regular fa-eye-slash"></i>
        </div>
        <input class="register-formulario-label-input" type="submit" value="Enviar" class="enviar">
    </form>
    <button class="register-btn">CREAR CUENTA</button>
    <h3 class="register-h3">¿Ya tienes una cuenta?<b>Iniciar Sesion</b></h3>
</body>

</html>