*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}


.footer {
    background-color: #1B1B1B;
    color: #fff;  
    padding: 5px;font-family:'Roboto', sans-serif ;

}

.footer__contacto {
    display: flex;
    margin-bottom: 10px;  
}
    
.footer__contacto i {
   margin-bottom :20px ;  
}

span{
    font-size: 23px;
}
.footer__links{
    display: flex;
    flex-direction: column;
}
.links_footer-movil{
    display: none;
   
}

.separacion_links{
    display: flex;
    flex-direction: column;
}
.container__footer{
    display: flex;
    justify-content: space-between;
    margin:20px;
    
}
.footer__ubicacion{
    display: flex;
    flex-direction: row;
}

.listas__del__footer_navegacion {
    display:flex;
    flex-direction: column;
     list-style: none;
}

.listas__del__footer_navegacion a{
    color: white;
    font-size: 20px;
    text-decoration: none
}

.avioncito_recomendaciones,.footer_ubicacion{
    display: flex;
}
.footer__redes i {
    margin:5px ;  
 }
 .footer__redes{
    position: relative;
    left: 12px; ;
 }

 .redes_sociales_del_footer{
    margin-top: 40% ;
 }

 .listas_nuevas_del_footer{
    display:flex;
    flex-direction: column;
    list-style: none;
    margin-top: 25%; 
    margin-left: 15%;
 }

 .listas_nuevas_del_footer a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
 }

 .facebook {
    font-family: 'Font Awesome 5 Brands'; 
    font-size: 36px;
    color: #1877f2;
 }
 .twitter{
    font-family: 'Font Awesome 5 Brands'; 
    font-size: 36px;
    color:  #1da1f2;
 }
 .instagram{
    font-family: 'Font Awesome 5 Brands'; 
    font-size: 36px;
    color: #e4405f;
 }
 .tiktok{
    font-family: 'Font Awesome 5 Brands'; 
    font-size: 36px;
    color: #ffffff;
 }

 @media (min-width:768px) {
    .footer{
        font-size: 24px;
    }

    .footer_movil{
        display: flex;
        flex-direction: row ;
    }

    .links_footer-movil{
        display: flex;
        flex-direction: column;
    }
    .contacto_ubicacion{
        margin-left :65px;
        display: flex;
        flex-direction: column;
     } 
     .contacto_ubicacion br{
        display: none;
     }
     .av{
        font-size: 17px;
     }

     .listas__del__footer_navegacion a{
        font-size: 31px;
        text-decoration: none;
    }
    
     .footer__redes{
        position: relative;
        margin-top: 0;
        left: 18px; ;
     }
     .listas_nuevas_del_footer{
         display: none;
     }
     .redes_sociales_del_footer{
        margin-top: 0;
        margin-right: 8%;
     }

     
    }
    @media (min-width: 1440px){
     .contacto_ubicacion{
        display: flex;
        margin-inline: 200px;
       }
    }



