@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swaP');

* .body-header {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
               }

.header {
            width: 100%;
            height: 100px;
            background: black;
            display: flex;
            justify-content: space-evenly;
            padding: 12px;
            position: relative;
        }

.menu {
            display: flex;
            align-items: center;
            color: white;
            padding: 10px;
            margin-left: -25px;
      } 
      .header-parrafo{
        margin-bottom: 0px;
      }

.header-logo {
               width: 25%;
               margin-right: -35px;
              }

.header-logo-image {
                            width: 100%;
                   }

.header-parrafo {
                 font-size: 15px;
                 font-family: 'roboto';
                }

.img-logo {
            width: 100%;
            margin: auto;
          }

.section-right {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: -30px;
                margin-top: 15px;
               
                }

.header-icon {
                width: 5px;
                height: 5px; 
                font-weight: 50;
                color:white;
                margin-right: 10px;
                padding: 15px;
             }
.buscadorH{
    display: none;
}
#iconBuscar{
    color: white;
    font-size: 25px;
    margin-right: 10px;
 margin-top: 18px;
    
}
.section-right-a{
   color: aliceblue;
                margin: 0;
                height: 10px;
                }

.header-nav {           
            display: none;
            }

  .header-nav ul {
                  list-style: none;
                  display: flex;
                  justify-content: center;
                              }

.header-nav li {
    margin: 0 5px;
}

.header-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  /*-----------------------------------*/


/*--------IMAGEN DE HEADER-------------------------*/

.header-logo {
    display: inline-block;
    overflow: hidden;

}

.header-logo img {
    transition: filter 0.3s ease-in-out;

}

.header-logo:hover img {
    filter: brightness(2.5);
    animation: shine s infinite alternate; 
  
}

/*---------------------------------*/




  /*-----------------------------------*/

}
@media(min-width:768px){
    .menu{
        display: none;
    }
    .header{
        width: 100%;
        height: 230px;
        display: block;
        position: relative;
        
    }
    .header-logo{
        width: 25%;
        margin: auto;
        display: block;
    }
   
    .header-icon{
        margin: 3px;
        margin-right: 20px;
    }
    .section-right{
        position: relative;
        display: inline-block;
        left: 480px;
        bottom: 180px;
     }
    .buscadorH{
       display:inline-flex;
       
        width: 130px;
        height: 30px;
        border : 1px white solid;
        font-size: 13px;
        
        border-radius: 15px;
       
       
       
       
    }
    #iconBuscar{
        color: rgb(0, 0, 0);
        margin-top: 0px;
        margin-left:-40px;
  
        
    }
 .section-right a {
      padding: 5px;
    margin-left: 1px;
      }
    .section-right i {
      color: rgb(255, 255, 255);
      margin-left: 5px;

    }

    .header-nav{
        margin-top: -60px;
        display: flex;
        justify-content: center;
        background: black;
        
    }
    .header-nav-ul{
       display: flex;
       justify-content: initial;
       margin: 0;
       padding: 3px;
       margin-right: 30px;
    }
    .header-nav-ul-li{
        margin: 0;
        padding: 3px;
    }

/*--------IMAGEN DE HEADER-------------------------*/

.header-logo {
    display: inline-block;
    overflow: hidden;

}

.header-logo img {
    transition: filter 0.3s ease-in-out;

}

.header-logo:hover img {
    filter: brightness(2.5);
    animation: shine s infinite alternate; 
  
}

/*---------------------------------*/

}


/*****DESKTOP*******/

@media(min-width:1024px){
.header{
  
    height: 200px;
    
    
    }
.header-logo{
    display:inline-block;
    justify-content: start;
    width: 168px;
    position: relative;
    top:-3px;
     left:65px;
    }

.header-logo-image{
    width: 100%;
}
/*--------IMAGEN DE HEADER-------------------------*/

.header-logo {
    display: inline-block;
    overflow: hidden;

}

.header-logo img {
    transition: filter 0.3s ease-in-out;

}

.header-logo:hover img {
    filter: brightness(2.5);
    animation: shine s infinite alternate; 
  
}

/*---------------------------------*/
.section-right{
color:fuchsia;
    position: relative;
    display: inline-block;
    right: -10px;
    top: -45%;
    left: 65%;
 }
 .buscadorH {
   background-color: black;
    display: inline-flex;
    width: 250px;
    height: 35px;
    border: 1px rgb(172, 6, 184) solid;
    font-size: 16px;
    border-radius: 15px;
    transition: border-color 0.3s ease; 
    position: relative;
}


#iconBuscar{
    
color:white;
position: relative;
top:1px;
   left:-8px ; 
}

.section-right-a {
    font-size: 2rem ;
  }
  .section-right-b  {
    font-size: 25px ;

}
.section-right i {

  color: rgb(255, 255, 255);
  margin-left: 6px;

}
.section-right-cart {
    background-color:white;
   
}

.header-icon{

    color:black;
    font-size: 30px;


}

.header-nav-ul{
    position: relative;
left: -5%;
top:-20px;
font-size: 30px; 
}
/*-------CAMBIAN DE COLOR LAS LETRAS--------------------------*/



.header-nav-ul-li a {
    color: white; /* Establece el color original del texto */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
  }

  .header-nav-ul-li a:hover {
    color: fuchsia; /* Cambia el color a fucsia cuando el cursor está sobre el enlace */
  }


/* Cambio de color al pasar el ratón ... POR EL BUSCADOR*/

::placeholder{
    background-color: black;
    color:black
}


::placeholder {
    background-color: black;
    color:fuchsia;
}
input::placeholder {
    background-color: transparent;
}

input {
    color: white; /* Color del texto escrito */
}



}

