header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {

    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

p {
    font-size: 15px;
    font-family: 'roboto';
}

.logo {
    width: 30%;
}

.img-logo {
    width: 100%;
    margin: auto;
}

.section-right {
    display: flex;

}

.header-icon {
    align-items: center;
    font-size: 20px;
    margin: auto;

    margin-right: 10px;
    padding: 5px;

}

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav li {
    margin: 0 5px;
}

nav a {
    text-decoration: none;
    color: white;

}

@media(max-width:430px) {

    nav {
        display: none;
    }

}

@media(min-width:768px) {
    nav {
        display: flex;
        justify-content: center;

    }

    .menu {
        display: none;
    }

    nav li {
        margin: 0 10px;
    }

}

@media(min-width:1200px) {}