.register-formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 25px;
   margin-top:10px ;
    width: 80%;
}

label {
    text-transform: uppercase;
    position: relative;
    padding: 3px;

}

.register-formulario-label-input {
    width: 90%;
    height: 20px;
    border-radius: none;
    margin-top: 8px;
    margin-bottom: 5px;
    display: inline;
    border-radius:1px solid black;

}
.register-formulario-label-contrasena{
    width: 100%;
    border-radius: none;
    margin: 0;
    padding: 3px;
}
.input-eyes{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.ojo{
 margin-top: 2px;
 position:relative;
 right:25px;
}
.fa-regular{
margin: auto;
}
.enviar {
    width: 20%;

    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    margin-bottom: 15px;
    
}

.register-btn {
    width: 80%;
    height: 30px;
    background: fuchsia;
    color: white;
    border: 1px black solid;
    border-radius: 15px;
    display: block;
    margin: auto;
    padding: 4px;
}

.register-h4 {
    font-family: 'roboto';
    font-size: 15px;
    text-align: center;
    font-weight: 200;
}

a {
    list-style: none;
    color: black;
    text-decoration: none;
}
/*******tablet******/
@media (min-width:768px) {
    .register-formulario {
       
        display: flex;
        flex-direction: column;
        
        width: 90%;
        padding: 15px;
       
    }
    .register-parrafo{
        font-size: 1.3em;
        padding: 10px;
        margin-left: 5px;
    }
    .register-formulario-label {
        margin-bottom: 15px;
       
       
        
    }

    .register-formulario-label-input {
        width: 95%;
        height: 30px;
        margin-top: 0;
        padding: 3px;
        
       
    }
  .register-formulario-label-contrasena{
        width: 100%;
        border-radius: none;
        margin: 0;
       height: 30px;
        padding: 3px;
        
  }
  ::placeholder{
    background-color: rgb(210, 203, 203, 0.5);
 
}
    .enviar {
       width: 10%;
       border: 1px solid black;
       display: flex;
       justify-content: center;
       margin: auto;
       margin-top: 15px;
       margin-bottom: 15px;
       margin-left: 230px;
       

    }

    .register-btn {
        width: 40%;
        margin: auto;
    }
}
    @media (min-width: 1440px) {
        .register-parrafo{
            width: 100%;
            font-size: 1.3em;
            text-align: center;
            
        }
        .one{
            width: 100%;
            font-size: 1.3em;
            text-align: start;
            
        }
        
        .register-formulario {
          
        
            width: 60%;
           padding: 5px;
           margin: auto;
           
        }
        
        .register-formulario-label {
            margin-top: 10px;
        }

        .register-formulario-label-input {
         width: 97%;  

        }
        .register-formulario-label-contrasena{
            width: 100%;
            border-radius: none;
            margin: 0;
           height: 30px;
            padding: 3px;
            
      }
        .enviar {
           width: 100px;
           height: 30px;
           position: relative;
           left: 200px;
           margin-bottom: 20px;
        }

    
 
        
    }