.register-parrafo {
    font-family: 'roboto';
    font-size: 15px;
    padding: 5px;
}

.register-formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.register-formulario-label {
    text-transform: uppercase;


    position: relative;
    padding: 3px;

}

.register-formulario-label-input {
    width: 80%;
    height: 20px;
    border-radius: none;

}

.contrasena-eyes {
    display: flex;
    box-sizing: border-box;
    left: 10px;
}

.fa-eye-slash {
    display: inline-block;
    right: 20px;
}

.enviar {
    text-align: center;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    width: 15%;
    height: 20px;
    margin-bottom: 15px;
}

.register-btn {
    width: 80%;
    height: 30px;
    background: fuchsia;
    color: white;
    border: 1px black solid;
    border-radius: 4px;
    display: block;
    margin: auto;
    padding: 4px;
}

.register-h3 {
    font-family: 'roboto';
    font-size: 15px;
    text-align: center;
}

@media (min-width:768px) {
    .register-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width:1200) {
    .register-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}