@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import '/css/footer.css';
@import '/css/general.css';
@import '/css/header.css';
@import '/css/login.css';
@import '/css/productCart.css';
@import '/css/productDetail.css';
@import '/css/register.css';
@import '/css/home.css'