<!DOCTYPE html>
<html lang="es">
   <!-- //HEAD PARTIALS-->
   <%- include('./partials/head',{
    title:'Carrito'
})  %>
<body>
  <!-- //HEADER PARTIALS-->
    
    <%- include('./partials/header') %>


 <main class= "nav_carrito">
        <section class="menu-inicio">      
        <ul class="inicio_carrito-ul" >
            <li class = "inicio_li"> <a class="inicio_a" href="#/inicio/">Inicio </a></li>
            <li class="barra">/</li>
            <li class = "carrito-li"><a class="carrito_a" href="#/carrito">Carrito</a></li>
        </ul>

</section>
    <section class="producto_carrito">

        <h2 class="titulo">Mi Carrito</h2>
        <section class="producto_carrito_camisa" >
            <div class="producto2">
                <div class="producto-imagen-precio_cantidad_comprar_costo">
                    <div class="imagen-ropa2">
                        <img class="imagen1" src="./img/cart/pantalon.png" alt="camisa">
                    </div>
                    <div class="precio_cantidad_comprar_costo">
                        <p class="nombre-ropa2">Pantalon Cargo de Estilo Urbano</p>
                        <div class =precio-original>

                            <section class = contenedores_precio_circulos_comprar1>
                                <div class =precio-original1>
                        <span class="precio1">$8550</span>
                        <span class="descuento1">$7000</span>
</div>

                        <div class ="cantidad_circulos">
                            <button class="cantidad2"><strong>-</strong></button>
                            <span class="numero2">1</span>
                            <button class="cantidad2"><strong>+</strong></button>
                             </div>
                          <section  class="contenedor2_comprar_eliminar">
                            <div class="comprar-eliminar1">
                                <button class="eliminar1">ELIMINAR</button>
                                <button class="comprar1"><strong>COMPRAR</strong></button>
                            </div>
                  </section>
                            <div class="costo">
                        <p class="costo">envío gratis por todo el país</p>
                    </div>
                </div>
            </div>

        </section>
            </section>
        </section>
        </section>
      
        <section class="producto_carrito2">
            <div class="producto2">
                <div class="producto-imagen-precio_cantidad_comprar_costo">
                    <div class="imagen-ropa2">
                    <img class="imagen2" src="./img/cart/campera graffiti.png" alt="campera graffiti">
                    </div>
                    <div class="precio_cantidad_comprar_costo">
                        <p class="nombre-ropa2">Campera Graffiti.</p>


                        <section   class = contenedores_precio_circulos_comprar>

                        <div class =precio-original2>

                        <span class="precio">$15000</span>
                        <span class="descuento">$16999</span>
</div>

                       <div class ="contenedor_circulos">
                        <button class ="contenedor_menos1"><strong>-</strong></button>
                        <span class="numero">1</span>
                        <button class="cantenedor_mas1"><strong>+</strong></button>
                         </div>

                        <div class="comprar-eliminar">
                            <button class="eliminar">ELIMINAR</button>
                            <button class="comprar"><strong>COMPRAR</strong></button>
                        </div>
                        <div class="costo">
                        <p class="costo1">costo de envío: $1500 ars</p>
                    </div>
                   
                 </div> 
                

                    </div>
                </div>
            
            </div>
            </section>
        </section>
        </section>
    </main>

    <!-- //FOOTER PARTIALS-->
    <%- include('./partials/footer') %>
</body>
</html>