 <!DOCTYPE html>
<html lang="es">
   <!-- //HEAD PARTIALS-->
   <%- include('./partials/head',{
    title:'Carrito'
})  %>
<body>
  <!-- //HEADER PARTIALS-->
    
    <%- include('./partials/header') %>


 <main class= "nav_carrito">
      
    </main>

    <!-- //FOOTER PARTIALS-->
    <%- include('./partials/footer') %>
</body>
</html>